.gridWrapper {
    font-family: 'Bubblebody Neue';
    font-weight: normal !important;
    color: #344146;
    width: 70%;
    margin: auto;
}

.leftColumn {
    margin-top: 96px;
    padding: 24px;
}