@import '../../../styles/colors.scss';

.iconGrid {
    width: 1000px !important;
    margin: auto !important;
    padding-top: 1rem;
}

.icon {
    font-size: 4rem !important;
    color: $green-primary;
}