.contactForm {
    display: block;
}

.contactInput {
    width: 90% !important;
    display: block !important;
    margin: 24px !important;
}

.contactForm h4 {
    margin-left: 24px;
}

.contactForm h2 {
    margin-left: 24px;
}

.contactForm button {
    margin-left: 24px;
}