@import '../../styles/colors.scss';

.infoCard {
    border: none;
    box-shadow: none !important;
    font-family: 'Bubblebody Neue';
    background-color: #eeeeee !important;
    padding: 20px;
    z-index: 2;
    width: 100%;
    margin: auto;
}

.bulletContent {
    margin-left: 20%;
}

.bulletHeading {
    color: $purple-primary;
}

.bulletRow {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 16px;
}

.bulletText {
    margin-left: .5rem;
    margin-top: .2rem
}